/* You can add global styles to this file, and also import other style files */

/* Tailwind Styles */
@use "tailwindcss";

/* Swiper Styles */
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

/** Custom Styles */
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
}

.custom-scroll {
    &::-webkit-scrollbar {
        width: 2em;
    }

    &::-webkit-scrollbar-track {
        background: #c9c9c9;
        border-radius: 100vw;
        margin-block: .5em
    }

    &::-webkit-scrollbar-thumb {
        background: #f2f2f2;
        border-radius: 100vw;
        padding: 10px
    }
}

.swiper-pagination.image-slider {
    &.swiper-pagination-bullets {
        @apply top-[10px];

        .swiper-pagination-bullet {
            @apply h-[5px] w-[21px] rounded-full bg-gray-400 mr-[8px] opacity-100;

            &.swiper-pagination-bullet-active {
                @apply bg-white;
            }
        }
    }
}