/* You can add global styles to this file, and also import other style files */

/* Tailwind Styles */
@use "tailwindcss";

/** Custom Styles */
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    interpolate-size: allow-keywords;
}

#hamburger-icon span {
    cursor: pointer;
    height: 12px;
    position: relative;
    transform: rotate(0);
    transition: .2s ease-in-out;
    width: 16px;
}