/* You can add global styles to this file, and also import other style files */

/* Tailwind Styles */
@use "tailwindcss";

/** Custom Styles */
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    interpolate-size: allow-keywords;
}

.custom-scroll {
    &::-webkit-scrollbar {
        width: 2em;
    }

    &::-webkit-scrollbar-track {
        background: #c9c9c9;
        border-radius: 100vw;
        margin-block: .5em
    }

    &::-webkit-scrollbar-thumb {
        background: #f2f2f2;
        border-radius: 100vw;
        padding: 10px
    }
}